version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: projeto_leite_db
    restart: always
    environment:
      POSTGRES_DB: projeto_leite_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - projeto_leite_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local

networks:
  projeto_leite_network:
    driver: bridge
